*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    justify-content: center;
}
.divContainer{
    display:flex;
    flex-direction:column;
    height:700px;
    width:700px;
    border:2px solid black;

}
.divParent{
    display:flex;
    flex:1;
}
.divChild{
    flex:1;
    border:1px solid black;
}
.gridGen{
    margin:10px;
    padding:5px 20px;
}